outfiles
*.class
spec
benchmarks.zip
benchmarks/**
minic/bin/parser
minic/bin/given_parser
minic/bin/given_parser.zip
minic/test/tests/arm/benchmarks/**
minic/test/tests/llvm/benchmarks/**
minic/test/tests/benchmarks
minic/pkg
tmp
out
vendor
.bundle
*.ll
*.s
*.dot
*.png
.DS_Store
